* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #68bd72;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 50%;
  height: 500px;

  border-radius: 10px;
  background: url(images/fundo.svg);
  background-repeat: no-repeat;
}

.wrapper_mole {
  display: grid;
  grid-template-areas:
    'A B C'
    'D E F';
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: fit-content;
}

.mole_img {
  width: 150px;
  height: 150px;

  background-image: url(images/toupeira6.svg);
  background-size: contain;
  background-repeat: no-repeat;

}

.mole_img#anim-1 {
  animation: move_mole .5s infinite;
  animation-delay: 1s;
  animation-iteration-count: 2;
}

.mole_img#anim-2 {
  animation: move_mole .5s infinite;
  animation-delay: 2s;
  animation-iteration-count: 1;
}

.mole_img#anim-3 {
  animation: move_mole .5s infinite;
  animation-delay: 3s;
  animation-iteration-count: 1;
}

@keyframes move_mole {
  0% {
      background-image: url(./images/toupeira1.svg);
  }
  20% {
      background-image: url(./images/toupeira2.svg);
  }
  40% {
      background-image: url(./images/toupeira3.svg);
  }
  60% {
      background-image: url(./images/toupeira4.svg);
  }
  80% {
      background-image: url(./images/toupeira5.svg);
  }
  100% {
      background-image: url(./images/toupeira6.svg);
  }
  
}